
Frontend/.vscode/settings.json

API/aiimi.employee.directory.api/obj/

API/aiimi.employee.directory.api/.vs/

API/aiimi.employee.directory.api/aiimi.employee.directory.api.csproj

API/aiimi.employee.directory.api/aiimi.employee.directory.api.csproj.user

API/aiimi.employee.directory.api/aiimi.employee.directory.api.http

API/aiimi.employee.directory.api/aiimi.employee.directory.api.sln

API/aiimi.employee.directory.api.BusinessLayer/bin/

API/aiimi.employee.directory.api.BusinessLayer/aiimi.employee.directory.api.BusinessLayer.csproj

API/aiimi.employee.directory.api.BusinessLayer/obj/

API/aiimi.employee.directory.api/bin/
