.Employee-List-Container {
    display: flex;
    flex-direction: row; // Default for larger screens
    flex-wrap: wrap;
    justify-content: space-around;

    :hover {
        background-color: #a1a1a1;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.Employee-List-Error {
    &:hover {
        background-color: transparent;
    }

    color: red;
}

.Employee-List-Loading {
    &:hover {
        background-color: transparent;
    }

    color: #e6235c;
}