.Employee-List-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    :hover {
        background-color: #a1a1a1;
        cursor: pointer;
    }
}

.Employee-List-Error {
    &:hover {
        background-color: transparent;
    }

    color: red;
}

.Employee-List-Loading {
    &:hover {
        background-color: transparent;
    }

    color: #e6235c;
}