.Employee-Form-Container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	border-radius: 30px;
	border: 1px solid;
	margin-top: 2rem;

	background-color: white;
	border-color: #e6235c;
}

.Employee-Form-Text-Input {
	height: 3rem;
	padding-left: 1rem;
	margin-top: 1rem;
	border-radius: 30px;
	border: 1px solid lightgrey;
}

.Employee-Form-Button {
	height: 3rem;
	width: 15%;
	margin: 1rem;
	border-radius: 30px;
	color: white;
	cursor: pointer;
	background-color: #e6235c;
	border-color: #a1a1a1;
}

.Error-Message-Container{
	width: 100%;
	color: red;
}