.Toast-Container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right:3rem;
  top: 3rem;
  width: 10rem;
  height: 3rem;
  opacity: 0.8;

  background-color: #e6235c;
  color: white;
  border-radius: 30px;
}